{% extends "base.html.twig" %}
{# title est le nom dans la barre du navigateur il ne s'agit pas d'un h1 #}
{% block title %} Acceuil{% endblock %} 

{% block body %}

<h1 class="text-center my-4"> Tous les articles</h1>



{% endblock %}