{% extends "base.html.twig" %}
{# title est le nom dans la barre du navigateur il ne s'agit pas d'un h1 #}
{% block title %} Changer de mot de passe{% endblock %} 

{% block body %}

<h1 class="text-center my-4"> Changer votre mot de passe</h1>

<div class="row">
    <div class="col-6 mx-auto">

       {{ form(form) }}
     
    </div>
</div>


{% endblock %}